.wrapper{
    background-color: rgb(116, 116, 116);
    border-radius: 60px;
    padding: 5px 9px;
    position: relative;
    box-shadow: inset 0px 3px 3px rgb(0, 0, 0);
    width: 100%;
} 
.shadow{
    box-shadow: inset 0px 3px  20px rgba(82, 4, 4, 0.977);
}
.main{
    width: 130px;
    margin: 10% auto;
} 
*{
    box-sizing: border-box;
}

.btn{
    position: relative;
    width: 35%;
  
    padding: 20px;
    left: 2%;
    border-radius: 50%;
    background-color: rgb(255, 115, 0);
    box-shadow: 0 0 0 orangered;
    transition: .5s;
    /* right: 0; */
    animation: luna 5s linear infinite;
}
@keyframes luna {
    0% {
        transform: rotate(0deg);
        box-shadow: 0px 0px   3px orangered;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 0px 0px 20px  15px orangered;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 0px 0px   3px orangered;
    }
}

.run{
    transform: scale(0.9);
    transition: .4s;
    left: 62%;
    transform: translateX(-100%);
    box-shadow: inset 0px 3px 3px rgb(255, 255, 255) ;


}

.black{
    transition: .5s;
    background-color: black;
}

.white{
    background-color: aliceblue;
  
}




/**/
.zvezds{
    width: 90%;
    display: flex;
}
.zvezd{
    background-color: white;
    height: 2px;
    width: 3px;
    box-shadow: 0px 0px 3px 2px white;
    margin: 13px;
    animation: z 5s linear infinite;
    
}

@keyframes z {
    0% {
        transform: rotate(0deg);
        transform: translateX(2px);
        box-shadow: 0px 0px   3px rgb(201, 54, 0);
    }
    50%{
        transform: rotate(180deg);
        transform: translateX(200px);
        transform: translateY(200px);
    }
    100%{
        transform: rotate(360deg);
        transform: translateX(2px);
    }
}